openapi: 3.0.0
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: "# Introduction\nEquinix Metal provides a RESTful HTTP API which can\
    \ be reached at <https://api.equinix.com/metal/v1>. This document describes the\
    \ API and how to use it.\n\nThe API allows you to programmatically interact with\
    \ all\nof your Equinix Metal resources, including devices, networks, addresses,\
    \ organizations,\nprojects, and your user account. Every feature of the Equinix\
    \ Metal web interface is accessible through the API.\n\nThe API docs are generated\
    \ from the Equinix Metal OpenAPI specification and are officially hosted at <https://metal.equinix.com/developers/api>.\n\
    \n# Common Parameters\n\nThe Equinix Metal API uses a few methods to minimize\
    \ network traffic and improve throughput. These parameters are not used in all\
    \ API calls, but are used often enough to warrant their own section. Look for\
    \ these parameters in the documentation for the API calls that support them.\n\
    \n## Pagination\n\nPagination is used to limit the number of results returned\
    \ in a single request. The API will return a maximum of 100 results per page.\
    \ To retrieve additional results, you can use the `page` and `per_page` query\
    \ parameters.\n\nThe `page` parameter is used to specify the page number. The\
    \ first page is `1`. The `per_page` parameter is used to specify the number of\
    \ results per page. The maximum number of results differs by resource type.\n\n\
    ## Sorting\n\nWhere offered, the API allows you to sort results by a specific\
    \ field. To sort results use the `sort_by` query parameter with the root level\
    \ field name as the value. The `sort_direction` parameter is used to specify the\
    \ sort direction, either either `asc` (ascending) or `desc` (descending).\n\n\
    ## Filtering\n\nFiltering is used to limit the results returned in a single request.\
    \ The API supports filtering by certain fields in the response. To filter results,\
    \ you can use the field as a query parameter.\n\nFor example, to filter the IP\
    \ list to only return public IPv4 addresses, you can filter by the `type` field,\
    \ as in the following request:\n\n```sh\ncurl -H 'X-Auth-Token: my_authentication_token'\
    \ \\\n  https://api.equinix.com/metal/v1/projects/id/ips?type=public_ipv4\n```\n\
    \nOnly IP addresses with the `type` field set to `public_ipv4` will be returned.\n\
    \n## Searching\n\nSearching is used to find matching resources using multiple\
    \ field comparissons. The API supports searching in resources that define this\
    \ behavior. The fields available for search differ by resource, as does the search\
    \ strategy.\n\nTo search resources you can use the `search` query parameter.\n\
    \n## Include and Exclude\n\nFor resources that contain references to other resources,\
    \ sucha as a Device that refers to the Project it resides in, the Equinix Metal\
    \ API will returns `href` values (API links) to the associated resource.\n\n```json\n\
    {\n  ...\n  \"project\": {\n    \"href\": \"/metal/v1/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd\"\
    \n  }\n}\n```\n\nIf you're going need the project details, you can avoid a second\
    \ API request.  Specify the contained `href` resources and collections that you'd\
    \ like to have included in the response using the `include` query parameter.\n\
    \nFor example:\n  \n```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n\
    \  https://api.equinix.com/metal/v1/user?include=projects\n```\n\nThe `include`\
    \ parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests\
    \ where `href` resources are presented.\n\nTo have multiple resources include,\
    \ use a comma-separated list (e.g. `?include=emails,projects,memberships`).\n\n\
    ```sh\ncurl -H 'X-Auth-Token: my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=emails,projects,memberships\n\
    ```\n\nYou may also include nested associations up to three levels deep using\
    \ dot notation (`?include=memberships.projects`):\n\n```sh\ncurl -H 'X-Auth-Token:\
    \ my_authentication_token' \\\n  https://api.equinix.com/metal/v1/user?include=memberships.projects\n\
    ```\n\nTo exclude resources, and optimize response delivery, use the `exclude`\
    \ query parameter. The `exclude` parameter is generally accepted in `GET`, `POST`,\
    \ `PUT`, and `PATCH` requests for fields with nested object responses. When excluded,\
    \ these fields will be replaced with an object that contains only an `href` field.\n"
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: |
    Nearly all of the endpoints in the API require authentication. Authentication is performed by providing an authentication token (interchangeably referred to as an API key) in the `X-Auth-Token` HTTP request header.

    <!-- ReDoc-Inject: <security-definitions> -->

    User API keys can be obtained by creating them in the Equinix Metal Portal or by using the [Create a User API Key](#operation/createAPIKey) endpoint.

    Project API keys can also be obtained by creating them in the Equinix Metal Portal or by using the [Create a Project API Key](#operation/createProjectAPIKey) endpoint. Project API keys are scoped to a single project and can only be used to access resources within that project.

    For example, to use an authenticated API token, you would make a request like the following:

    ```bash
    curl -H 'X-Auth-Token: my_authentication_token' \
      https://api.equinix.com/metal/v1/user/api-keys
    ```

    Applications can take advantage of the Equinix Metal API and API keys to perform any of the actions that can be performed in the Equinix Metal Portal. For example, you can use the API to create and manage devices, projects, and other resources.

    API keys can be deleted without affecting any of the resources created with them. Access to applications using the API can be revoked by deleting the API key used to authenticate the application.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/#api-keys
  name: Authentication
- description: |
    Equinix Metal uses conventional HTTP response codes to indicate the success or failure of an API request.

    In general: Codes in the 2xx range indicate success. Codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted, a charge failed, etc.). Codes in the 5xx range indicate an error with Equinix Metal's servers (these are rare).

    | Code                               | Summary
    | ---------------------------------- | ------------------------------------------------------
    | 200 OK                             | Everything worked as expected.
    | 201 Create                         | Everything worked as expected, the resource was created.
    | 422 Bad Request                    | The request was unacceptable, often due to missing a required parameter.
    | 401 Unauthorized                   | No valid API key provided.
    | 404 Not Found                      | The requested resource doesn't exist.
    | 500, 502, 503, 504 - Server Errors | Something went wrong on Equinix Metal's end. (These are rare.)

    Errors (4xx, 5xx) reported by the API will include a JSON error response.  This response will be structured as one of the following:

    ```json
    {"error": "the error message"}
    ```

    or

    ```json
    {"errors": ["one error", "another error"}
    ```

    The JSON response is not guaranteed so check the HTTP status message. JSON may not be included if the error is reported by an API intermediary, like a loadbalancer service.
  name: Errors
- description: |
    Manage device batches. See project endpoints to list batches for a particular project. Check out the product docs to learn more about [Batch Deployment](https://metal.equinix.com/developers/docs/deploy/batch-deployment/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/batch-deployment/
  name: Batches
- description: |
    Manage BGP configs and sessions. See device endpoints to create and list BGP sessions for a particular device. Check out the product docs to learn more about [Local and Global BGP](https://metal.equinix.com/developers/docs/networking/local-global-bgp/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/bgp/bgp-on-equinix-metal/
  name: BGP
- description: |
    Capacity Management. Check out the product docs to learn more about [Capacity](https://metal.equinix.com/developers/docs/locations/capacity/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/capacity/
  name: Capacity
- description: |
    Network Interconnections. See Instructions to create Network Interconnections at Check out the product docs to learn more about [Equinix Fabric](https://metal.equinix.com/developers/docs/networking/fabric/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/equinix-interconnect/introduction/
  name: Interconnections
- description: |
    Device Management. Check out the product docs to learn more about [Server Devices](https://metal.equinix.com/developers/docs/servers/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/on-demand/
  name: Devices
- description: Email Management
  name: Emails
- description: Event Management
  name: Events
- description: |
    Facility Management. Check out the product docs to learn more about [Facilities](https://metal.equinix.com/developers/docs/locations/).
  name: Facilities
- description: |
    Global BGP Range Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/bgp/global-bgp/
  name: GlobalBgpRanges
- description: |
    Hardware Reservation Management. Check out the product docs to learn more about [Reserved Hardware](https://metal.equinix.com/developers/docs/deploy/reserved/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/reserved/
  name: HardwareReservations
- description: |
    Incident Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/maintenance/
  name: Incidents
- description: |
    Manage invitations. See project endpoints to create a new invitation. Check out the product docs to learn more about [Invitations](https://metal.equinix.com/developers/docs/accounts/).
  name: Invitations
- description: |
    Manage IP addresses. See device and project endpoints to list and create IP assignments for a particular project or device. Check out the product docs to learn more about [the basic networking features](https://metal.equinix.com/developers/docs/networking/standard-ips/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/
  name: IPAddresses
- description: |
    Manage licenses. See project endpoints to list and create licenses for a particular project.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/operating-systems/licensed/
  name: Licenses
- description: |
    Membership Management (Project). Check out the product docs to learn more about [Membership](https://metal.equinix.com/developers/docs/accounts/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/#inviting-a-user-to-a-project
  name: Memberships
- description: |
    Device Metadata
  externalDocs:
    url: https://metal.equinix.com/developers/docs/server-metadata/metadata/
  name: Metadata
- description: |
    Metal Gateway Management.Check out the product docs to learn more about [Metal Gateways](https://metal.equinix.com/developers/docs/networking/metal-gateway/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/metal-gateway/
  name: MetalGateways
- description: "Metro Management. Check out the product docs to learn more about [Metros](https://metal.equinix.com/developers/docs/locations/metros/)."
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/metros/
  name: Metros
- description: |
    Operating System Management. Check out the product docs to learn more about [Operating Systems choices](https://metal.equinix.com/developers/docs/operating-systems/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/operating-systems/supported/
  name: OperatingSystems
- description: "Organizations Management. Check out the product docs to learn more\
    \ about [Organizations](https://metal.equinix.com/developers/docs/accounts/)."
  name: Organizations
- description: |
    OTP Management. Check out the product docs to learn more about [OTP](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/
  name: OTPs
- description: |
    Password Reset Token Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/#security-settings
  name: PasswordResetTokens
- description: |
    Payment Method Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/billing/payment-methods/
  name: PaymentMethods
- description: |
    Plan Management (Device). Check out the product docs to learn more about [Device Plans](https://metal.equinix.com/developers/docs/servers/).
  name: Plans
- description: |
    Port ManagementCheck out the product docs to learn more about [Port configurations](https://metal.equinix.com/developers/docs/layer2-networking/overview/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/layer2-networking/overview/
  name: Ports
- description: |
    Project Management. Check out the product docs to learn more about [Projects](https://metal.equinix.com/developers/docs/accounts/projects/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/
  name: Projects
- description: |
    Self Service Reservations
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/reserved/
  name: SelfServiceReservations
- description: |
    Spot Market Pricing and Requests Management. Check out the product docs to learn more about [Spot Market features](https://metal.equinix.com/developers/docs/deploy/spot-market/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/spot-market/
  name: SpotMarket
- description: |
    Manage SSH keys. See project endpoints to list and create project-level SSH keys.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/ssh-keys/
  name: SSHKeys
- description: |
    Support request
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/support/
  name: SupportRequest
- description: |
    Project Transfer Requests Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/#transferring-a-project
  name: TransferRequests
- description: |
    Two Factor Authentication Management. Check out the product docs to learn more about [2FA](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/
  name: TwoFactorAuth
- description: Usage Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/billing/checking-usage/
  name: Usages
- description: |
    Userdata Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/server-metadata/user-data/
  name: Userdata
- description: |
    User Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/
  name: Users
- description: |
    User Verification Token Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/organizations/#managing-team-members
  name: UserVerificationTokens
- description: |
    Manage virtual networks (VLANs). See project endpoints to list and create virtual networks. Check out the product docs to learn more about [VLANs](https://metal.equinix.com/developers/docs/networking/layer2/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/layer2/
  name: VLANs
- description: |
    Volume Management (Block Storage). Notice: Block storage support will be deprecated soon. Please check here: https://metal.equinix.com/developers/docs/resilience-recovery/elastic-block-storage/ for more details.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/resilience-recovery/elastic-block-storage/
  name: Volumes
- description: |
    VRF Management. A VRF is a project-scoped virtual router resource that defines a collection of customer-manager IP blocks that can be used in BGP peering on one or more virtual networks. Metal Gateways and Interconnection Virtual Circuits can take advantage of VRFs to enable Layer 3 routing with bespoke network ranges. Notice: VRFs are a test feature currently under active development, and only available to certain users. Please contact Customer Success for more information.
  name: VRFs
paths:
  /api-keys/{id}:
    delete:
      description: Deletes the API key.
      operationId: deleteAPIKey
      parameters:
      - description: API Key UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the API key
      tags:
      - Authentication
  /batches/{id}:
    delete:
      description: Deletes the Batch.
      operationId: deleteBatch
      parameters:
      - description: Batch UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Delete all instances created from this batch
        explode: true
        in: query
        name: remove_associated_instances
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "204":
          description: no content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the Batch
      tags:
      - Batches
    get:
      description: Returns a Batch
      operationId: findBatchById
      parameters:
      - description: Batch UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findBatchById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a Batch
      tags:
      - Batches
  /bgp/sessions/{id}:
    delete:
      description: Deletes the BGP session.
      operationId: deleteBgpSession
      parameters:
      - description: BGP session UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the BGP session
      tags:
      - BGP
    get:
      description: Returns a BGP session
      operationId: findBgpSessionById
      parameters:
      - description: BGP session UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findBgpSessionById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a BGP session
      tags:
      - BGP
    put:
      description: Updates the BGP session by either enabling or disabling the default
        route functionality.
      operationId: updateBgpSession
      parameters:
      - description: BGP session UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
        description: Default route
        required: true
      responses:
        "200":
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Update the BGP session
      tags:
      - BGP
  /capacity:
    get:
      description: Returns a list of facilities and plans with their current capacity.
      operationId: findCapacityForFacility
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCapacityForFacility_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: View capacity
      tags:
      - Capacity
    post:
      description: Validates if a deploy can be fulfilled.
      operationId: checkCapacityForFacility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkCapacityForFacility_request'
        description: Facility to check capacity in
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkCapacityForFacility_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Check capacity
      tags:
      - Capacity
  /capacity/metros:
    get:
      description: Returns a list of metros and plans with their current capacity.
      operationId: findCapacityForMetro
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCapacityForMetro_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: View capacity for metros
      tags:
      - Capacity
    post:
      description: Validates if a deploy can be fulfilled in a metro.
      operationId: checkCapacityForMetro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkCapacityForMetro_request'
        description: Metro to check capacity in
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkCapacityForMetro_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Check capacity for a metro
      tags:
      - Capacity
  /connections/{connection_id}:
    delete:
      description: "Delete a interconnection, its associated ports and virtual circuits."
      operationId: deleteInterconnection
      parameters:
      - description: Interconnection UUID
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response'
          description: accepted
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete interconnection
      tags:
      - Interconnections
    get:
      description: Get the details of a interconnection
      operationId: getInterconnection
      parameters:
      - description: Interconnection UUID
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Get interconnection
      tags:
      - Interconnections
    put:
      description: Update the details of a interconnection
      operationId: updateInterconnection
      parameters:
      - description: Interconnection UUID
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInterconnection_request'
        description: Updated interconnection details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Update interconnection
      tags:
      - Interconnections
  /connections/{connection_id}/events:
    get:
      description: Returns a list of the interconnection events
      operationId: findInterconnectionEvents
      parameters:
      - description: Interconnection UUID
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
        style: form
      - description: Items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInterconnectionEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve interconnection events
      tags:
      - Events
  /connections/{connection_id}/ports:
    get:
      description: List the ports associated to an interconnection.
      operationId: listInterconnectionPorts
      parameters:
      - description: UUID of the interconnection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listInterconnectionPorts_200_response'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: List a interconnection's ports
      tags:
      - Interconnections
  /connections/{connection_id}/ports/{id}:
    get:
      description: Get the details of an interconnection port.
      operationId: getInterconnectionPort
      parameters:
      - description: UUID of the interconnection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Port UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response_ports_inner'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Get a interconnection port
      tags:
      - Interconnections
  /connections/{connection_id}/ports/{id}/events:
    get:
      description: Returns a list of the interconnection port events
      operationId: findInterconnectionPortEvents
      parameters:
      - description: Interconnection UUID
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Interconnection Port UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
        style: form
      - description: Items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInterconnectionEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve interconnection port events
      tags:
      - Events
  /connections/{connection_id}/ports/{port_id}/virtual-circuits:
    get:
      description: List the virtual circuit record(s) associatiated with a particular
        interconnection port.
      operationId: listInterconnectionPortVirtualCircuits
      parameters:
      - description: UUID of the interconnection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: UUID of the interconnection port
        explode: false
        in: path
        name: port_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response_ports_inner_virtual_circuits'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: List a interconnection port's virtual circuits
      tags:
      - Interconnections
    post:
      description: "Create a new Virtual Circuit on a Dedicated Port. To create a\
        \ regular Virtual Circuit, specify a Virtual Network record and an NNI VLAN\
        \ value. To create a VRF-based Virtual Circuit, specify the VRF ID and subnet,\
        \ along with the NNI VLAN value."
      operationId: createInterconnectionPortVirtualCircuit
      parameters:
      - description: UUID of the interconnection
        explode: false
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: UUID of the interconnection port
        explode: false
        in: path
        name: port_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInterconnectionPortVirtualCircuit_request'
        description: Virtual Circuit details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createInterconnectionPortVirtualCircuit_201_response'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Create a new Virtual Circuit
      tags:
      - Interconnections
  /devices/{id}:
    delete:
      description: Deletes a device and deprovisions it in our datacenter.
      operationId: deleteDevice
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Force the deletion of the device, by detaching any storage volume\
          \ still active."
        explode: true
        in: query
        name: force_delete
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "204":
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Delete the device
      tags:
      - Devices
    get:
      description: |-
        Type-specific options (such as facility for baremetal devices) will be included as part of the main data structure.
                                 State value can be one of: active inactive queued or provisioning
      operationId: findDeviceById
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a device
      tags:
      - Devices
    put:
      description: Updates the device.
      operationId: updateDevice
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDevice_request'
        description: Facility to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Update the device
      tags:
      - Devices
  /devices/{id}/actions:
    post:
      description: "Performs an action for the given device.  Possible actions include:\
        \ power_on, power_off, reboot, reinstall, and rescue (reboot the device into\
        \ rescue OS.)"
      operationId: performAction
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/performAction_request'
        description: Action to perform
        required: true
      responses:
        "202":
          description: accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Perform an action
      tags:
      - Devices
  /devices/{id}/bandwidth:
    get:
      description: Retrieve an instance bandwidth for a given period of time.
      operationId: findInstanceBandwidth
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Timestamp from range
        explode: true
        in: query
        name: from
        required: true
        schema:
          type: string
        style: form
      - description: Timestamp to range
        explode: true
        in: query
        name: until
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve an instance bandwidth
      tags:
      - Devices
  /devices/{id}/bgp/neighbors:
    get:
      description: Provides a summary of the BGP neighbor data associated to the BGP
        sessions for this device.
      operationId: getBgpNeighborData
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBgpNeighborData_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve BGP neighbor data for this device
      tags:
      - Devices
  /devices/{id}/bgp/sessions:
    get:
      description: Provides a listing of available BGP sessions for the device.
      operationId: findBgpSessions
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findBgpSessions_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
      summary: Retrieve all BGP sessions
      tags:
      - Devices
    post:
      description: Creates a BGP session.
      operationId: createBgpSession
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBgpSession_request'
        description: BGP session to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findBgpSessionById_200_response'
          description: created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Create a BGP session
      tags:
      - Devices
  /devices/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this instance in json format
      operationId: findDeviceCustomdata
      parameters:
      - description: Instance UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve the custom metadata of an instance
      tags:
      - Devices
  /devices/{id}/events:
    get:
      description: Returns a list of events pertaining to a specific device
      operationId: findDeviceEvents
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
        style: form
      - description: Items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve device's events
      tags:
      - Events
  /devices/{id}/ips:
    get:
      description: Returns all ip assignments for a device.
      operationId: findIPAssignments
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findIPAssignments_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve all ip assignments
      tags:
      - Devices
    post:
      description: Creates an ip assignment for a device.
      operationId: createIPAssignment
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createIPAssignment_request'
        description: IPAssignment to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceById_200_response_ip_addresses_inner'
          description: created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Create an ip assignment
      tags:
      - Devices
  /devices/{id}/metadata:
    get:
      description: Retrieve device metadata
      operationId: findDeviceMetadataByID
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceMetadataByID_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Retrieve metadata
      tags:
      - Devices
  /devices/{id}/ssh-keys:
    get:
      description: Returns a collection of the device's ssh keys.
      operationId: findDeviceSSHKeys
      parameters:
      - description: Project UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Search by key, label, or fingerprint"
        explode: true
        in: query
        name: Search string
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceSSHKeys_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve a device's ssh keys
      tags:
      - SSHKeys
  /devices/{id}/traffic:
    get:
      description: Returns traffic for a specific device.
      operationId: findTraffic
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Traffic direction
        explode: true
        in: query
        name: direction
        required: true
        schema:
          enum:
          - inbound
          - outbound
          type: string
        style: form
      - description: Traffic interval
        explode: true
        in: query
        name: interval
        required: false
        schema:
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          - hour_of_day
          - day_of_week
          - day_of_month
          - month_of_year
          type: string
        style: form
      - description: Traffic bucket
        explode: true
        in: query
        name: bucket
        required: false
        schema:
          enum:
          - internal
          - external
          type: string
        style: form
      - explode: true
        in: query
        name: timeframe
        required: false
        schema:
          $ref: '#/components/schemas/findTraffic_timeframe_parameter'
        style: deepObject
      responses:
        "200":
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve device traffic
      tags:
      - Devices
  /devices/{id}/usages:
    get:
      description: Returns all usages for a device.
      operationId: findDeviceUsages
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Filter usages created after this date
        explode: true
        in: query
        name: "created[after]"
        required: false
        schema:
          format: datetime
          type: string
        style: form
      - description: Filter usages created before this date
        explode: true
        in: query
        name: "created[before]"
        required: false
        schema:
          format: datetime
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceUsages_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve all usages for device
      tags:
      - Usages
  /devices/{id}/userdata:
    get:
      description: Retrieve device userdata
      operationId: findDeviceUserdataByID
      parameters:
      - description: Device UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceUserdataByID_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Retrieve userdata
      tags:
      - Devices
  /devices/{instance_id}/ips/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this IP Assignment in json
        format
      operationId: findIPAssignmentCustomdata
      parameters:
      - description: Instance UUID
        explode: false
        in: path
        name: instance_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Ip Assignment UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve the custom metadata of an IP Assignment
      tags:
      - Devices
  /emails:
    post:
      description: Add a new email address to the current user.
      operationId: createEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEmail_request'
        description: Email to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEmail_201_response'
          description: created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Create an email
      tags:
      - Emails
  /emails/{id}:
    delete:
      description: Deletes the email.
      operationId: deleteEmail
      parameters:
      - description: Email UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the email
      tags:
      - Emails
    get:
      description: Provides one of the user’s emails.
      operationId: findEmailById
      parameters:
      - description: Email UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEmail_201_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve an email
      tags:
      - Emails
    put:
      description: Updates the email.
      operationId: updateEmail
      parameters:
      - description: Email UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEmail_request'
        description: email to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEmail_201_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Update the email
      tags:
      - Emails
  /events:
    get:
      description: Returns a list of the current user’s events
      operationId: findEvents
      parameters:
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
        style: form
      - description: Items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve current user's events
      tags:
      - Events
  /events/{id}:
    get:
      description: Returns a single event if the user has access
      operationId: findEventById
      parameters:
      - description: Event UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInterconnectionEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve an event
      tags:
      - Events
  /facilities:
    get:
      description: Provides a listing of available datacenters where you can provision
        Packet devices.
      operationId: findFacilities
      parameters:
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: true
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - address
            - labels
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: true
        in: query
        name: exclude
        required: false
        schema:
          default:
          - address
          items:
            enum:
            - address
            - labels
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findFacilities_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve all facilities
      tags:
      - Facilities
  /hardware-reservations/{id}:
    get:
      description: Returns a single hardware reservation
      operationId: findHardwareReservationById
      parameters:
      - description: HardwareReservation UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a hardware reservation
      tags:
      - HardwareReservations
  /hardware-reservations/{id}/move:
    post:
      description: Move a hardware reservation to another project
      operationId: moveHardwareReservation
      parameters:
      - description: Hardware Reservation UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              format: uuid
              type: string
        description: Project UUID
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moveHardwareReservation_201_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Move a hardware reservation
      tags:
      - HardwareReservations
  /incidents:
    get:
      description: Retrieve the number of incidents.
      operationId: findIncidents
      parameters:
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve the number of incidents
      tags:
      - Incidents
  /invitations:
    get:
      description: Returns all invitations in current user.
      operationId: findInvitations
      parameters:
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
        style: form
      - description: Items returned per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInvitations_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve current user invitations
      tags:
      - Users
  /invitations/{id}:
    delete:
      description: Decline an invitation.
      operationId: declineInvitation
      parameters:
      - description: Invitation UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Decline an invitation
      tags:
      - Invitations
    get:
      description: Returns a single invitation. (It include the `invitable` to maintain
        backward compatibility but will be removed soon)
      operationId: findInvitationById
      parameters:
      - description: Invitation UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInvitationById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: View an invitation
      tags:
      - Invitations
    put:
      description: Accept an invitation.
      operationId: acceptInvitation
      parameters:
      - description: Invitation UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInvitations_200_response_invitations_inner'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Accept an invitation
      tags:
      - Invitations
  /ips/{id}:
    delete:
      description: Note! This call can be used to un-assign an IP assignment or delete
        an IP reservation. Un-assign an IP address record. Use the assignment UUID
        you get after attaching the IP. This will remove the relationship between
        an IP and the device and will make the IP address available to be assigned
        to another device. Delete and IP reservation. Use the reservation UUID you
        get after adding the IP to the project. This will permanently delete the IP
        block reservation from the project.
      operationId: deleteIPAddress
      parameters:
      - description: IP Address UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Unassign an ip address
      tags:
      - IPAddresses
    get:
      description: Returns a single ip address if the user has access.
      operationId: findIPAddressById
      parameters:
      - description: IP Address UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findIPAddressById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve an ip address
      tags:
      - IPAddresses
    patch:
      description: Update details about an ip address
      operationId: updateIPAddress
      parameters:
      - description: IP Address UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Notes for this IP Assignment
        explode: true
        in: query
        name: details
        required: true
        schema:
          type: string
        style: form
      - description: Provides the custom metadata stored for this IP Assignment in
          json format
        explode: true
        in: query
        name: customdata
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findIPAddressById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Update an ip address
      tags:
      - IPAddresses
  /ips/{id}/available:
    get:
      description: Provides a list of IP resevations for a single project.
      operationId: findIPAvailabilities
      parameters:
      - description: IP Reservation UUID
        explode: false
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Size of subnets in bits
        explode: true
        in: query
        name: cidr
        required: true
        schema:
          enum:
          - "20"
          - "21"
          - "22"
          - "23"
          - "24"
          - "25"
          - "26"
          - "27"
          - "28"
          - "29"
          - "30"
          - "31"
          - "32"
          - "33"
          - "34"
          - "35"
          - "36"
          - "37"
          - "38"
          - "39"
          - "40"
          - "41"
          - "42"
          - "43"
          - "44"
          - "45"
          - "46"
          - "47"
          - "48"
          - "49"
          - "50"
          - "51"
          - "52"
          - "53"
          - "54"
          - "55"
          - "56"
          - "57"
          - "58"
          - "59"
          - "60"
          - "61"
          - "62"
          - "63"
          - "64"
          - "65"
          - "66"
          - "67"
          - "68"
          - "69"
          - "70"
          - "71"
          - "72"
          - "73"
          - "74"
          - "75"
          - "76"
          - "77"
          - "78"
          - "79"
          - "80"
          - "81"
          - "82"
          - "83"
          - "84"
          - "85"
          - "86"
          - "87"
          - "88"
          - "89"
          - "90"
[...]
