openapi: 3.0.1
info:
  contact:
    email: support@equinixmetal.com
    name: Equinix Metal API Team
  description: "This is the API for Equinix Metal. The API allows you to programmatically\
    \ interact with all\nof your Equinix Metal resources, including devices, networks,\
    \ addresses, organizations,\nprojects, and your user account.\n\nThe official\
    \ API docs are hosted at <https://metal.equinix.com/developers/api>.\n"
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  termsOfService: https://metal.equinix.com/legal/
  title: Metal API
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- description: "Hint: Equinix Metal's API can be reached at https://api.equinix.com/metal/v1\n\
    \nMost of the endpoints in the API require authentication. Authenticating is done\
    \ with an authentication token in the X-Auth-Token header.\n\n```\ncurl -H 'X-Auth-Token:\
    \ my_authentication_token'\n```\n\nAuthentication tokens are used to identify\
    \ the user your application is connecting to the API on behalf of. Think of authentication\
    \ tokens as permanent sessions—the user creates authentication tokens, and your\
    \ app can use them to connect to the API on their behalf until they delete the\
    \ token.\n\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/#api-keys
  name: Authentication
- description: "The Equinix Metal API uses a few methods to minimize network traffic\
    \ and bandwidth:\n\n`include`\n\nFor resources that contain collections of other\
    \ resources, the Equinix Metal API will return links to the other resources by\
    \ default.\n\n```json\n{\n  ...\n  // Includes \"href\" links if the resource\
    \ is reachable through the API.\n  \"projects\": [\n    { \"href\": \"/projects/5b590e4f-be96-4400-ae32-c315ee67964d\"\
    \ },\n    { \"href\": \"/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd\" }\n \
    \ ],\n  // Includes \"id\" attributes if not.\n  \"emails\": [\n    { \"id\":\
    \ \"eb5d8c89-4d15-4c87-859c-5ae190ad5d9a\" },\n    { \"id\": \"c17f77ad-9070-4084-abaa-7538581d9523\"\
    \ }\n  ]\n  ...\n}\n```\n\nHowever, if you're interested in acting on resources\
    \ in the projects collection, it doesn't make sense to make a separate API call\
    \ to retrieve each project. Instead, you can specify which collections you'd like\
    \ to be included using the include parameter.\n\n```\n/user?include=projects\n\
    ```\nwill return\n\n```json\n{\n  ...\n  \"projects\": [\n    {\n      \"href\"\
    : \"/projects/c851d3c5-d55d-4b1a-99f1-96fc64768bc3\",\n      \"id\": \"c851d3c5-d55d-4b1a-99f1-96fc64768bc3\"\
    ,\n      \"name\": \"Project 1\",\n      ...\n    },\n    {\n      \"href\": \"\
    /projects/21f8e88b-bd4e-44ca-b956-4f3f88e6e5f2\",\n      \"id\": \"21f8e88b-bd4e-44ca-b956-4f3f88e6e5f2\"\
    ,\n      \"name\": \"Project 2\",\n      ...\n    }\n  ],\n  ...\n}\n```\n\nThe\
    \ `include` parameter is accepted for all `GET` requests on all resources and\
    \ collections, and should be specified as a comma-separated list.\n\n```\n/user?include=emails,projects,memberships\n\
    ```\n\nYou may also include nested associations up to 3 levels deep using dot\
    \ notation:\n\n```\n/user?include=memberships.projects\n```\n"
  name: Common Parameters
- description: "Equinix Metal uses conventional HTTP response codes to indicate the\
    \ success or failure of an API request.\n\nIn general: Codes in the 2xx range\
    \ indicate success. Codes in the 4xx range indicate an error that failed given\
    \ the information provided (e.g., a required parameter was omitted, a charge failed,\
    \ etc.). Codes in the 5xx range indicate an error with Equinix Metal's servers\
    \ (these are rare).\n\n| Code                               | Summary\n| ----------------------------------\
    \ | ------------------------------------------------------\n| 200 OK         \
    \                    | Everything worked as expected.\n| 201 Create          \
    \               | Everything worked as expected, the resource was created.\n|\
    \ 422 Bad Request                    | The request was unacceptable, often due\
    \ to missing a required parameter.\n| 401 Unauthorized                   | No\
    \ valid API key provided.\n| 404 Not Found                      | The requested\
    \ resource doesn't exist.\n| 500, 502, 503, 504 - Server Errors | Something went\
    \ wrong on Equinix Metal's end. (These are rare.)\n\nErrors (4xx, 5xx) reported\
    \ by the API will include a JSON error response.  This response will be structured\
    \ as one of the following:\n\n```json\n{\"error\": \"the error message\"}\n```\n\
    \nor\n\n```json\n{\"errors\": [\"one error\", \"another error\"}\n```\n\nThe JSON\
    \ response is not guaranteed so check the HTTP status message. JSON may not be\
    \ included if the error is reported by an API intermediary, like a loadbalancer\
    \ service.\n"
  name: Errors
- description: "Manage device batches. See project endpoints to list batches for a\
    \ particular project. Check out the product docs to learn more about [Batch Deployment](https://metal.equinix.com/developers/docs/deploy/batch-deployment/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/batch-deployment/
  name: Batches
- description: "Manage BGP configs and sessions. See device endpoints to create and\
    \ list BGP sessions for a particular device. Check out the product docs to learn\
    \ more about [Local and Global BGP](https://metal.equinix.com/developers/docs/networking/local-global-bgp/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/bgp/bgp-on-equinix-metal/
  name: BGP
- description: "Capacity Management. Check out the product docs to learn more about\
    \ [Capacity](https://metal.equinix.com/developers/docs/locations/capacity/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/capacity/
  name: Capacity
- description: "Network Interconnections. See Instructions to create Network Interconnections\
    \ at Check out the product docs to learn more about [Equinix Fabric](https://metal.equinix.com/developers/docs/networking/fabric/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/equinix-interconnect/introduction/
  name: Connections
- description: "Device Management. Check out the product docs to learn more about\
    \ [Server Devices](https://metal.equinix.com/developers/docs/servers/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/on-demand/
  name: Devices
- description: Email Management
  name: Emails
- description: Event Management
  name: Events
- description: "Facility Management. Check out the product docs to learn more about\
    \ [Facilities](https://metal.equinix.com/developers/docs/locations/).\n"
  name: Facilities
- description: |
    Global BGP Range Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/bgp/global-bgp/
  name: GlobalBgpRanges
- description: "Hardware Reservation Management. Check out the product docs to learn\
    \ more about [Reserved Hardware](https://metal.equinix.com/developers/docs/deploy/reserved/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/reserved/
  name: HardwareReservations
- description: |
    Incident Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/maintenance/
  name: Incidents
- description: "Manage invitations. See project endpoints to create a new invitation.\
    \ Check out the product docs to learn more about [Invitations](https://metal.equinix.com/developers/docs/accounts/).\n"
  name: Invitations
- description: "Manage IP addresses. See device and project endpoints to list and\
    \ create IP assignments for a particular project or device. Check out the product\
    \ docs to learn more about [the basic networking features](https://metal.equinix.com/developers/docs/networking/standard-ips/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/
  name: IPAddresses
- description: |
    Manage licenses. See project endpoints to list and create licenses for a particular project.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/operating-systems/licensed/
  name: Licenses
- description: "Membership Management (Project). Check out the product docs to learn\
    \ more about [Membership](https://metal.equinix.com/developers/docs/accounts/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/#inviting-a-user-to-a-project
  name: Memberships
- description: "Metal Gateway Management.Check out the product docs to learn more\
    \ about [Metal Gateways](https://metal.equinix.com/developers/docs/networking/metal-gateway/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/metal-gateway/
  name: MetalGateways
- description: "Metro Management. Check out the product docs to learn more about [Metros](https://metal.equinix.com/developers/docs/locations/metros/)."
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/metros/
  name: Metros
- description: "Operating System Management. Check out the product docs to learn more\
    \ about [Operating Systems choices](https://metal.equinix.com/developers/docs/operating-systems/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/operating-systems/supported/
  name: OperatingSystems
- description: "Organizations Management. Check out the product docs to learn more\
    \ about [Organizations](https://metal.equinix.com/developers/docs/accounts/)."
  name: Organizations
- description: "OTP Management. Check out the product docs to learn more about [OTP](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/
  name: OTPs
- description: |
    Password Reset Token Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/#security-settings
  name: PasswordResetTokens
- description: |
    Payment Method Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/billing/payment-methods/
  name: PaymentMethods
- description: "Plan Management (Device). Check out the product docs to learn more\
    \ about [Device Plans](https://metal.equinix.com/developers/docs/servers/).\n"
  name: Plans
- description: "Port ManagementCheck out the product docs to learn more about [Port\
    \ configurations](https://metal.equinix.com/developers/docs/layer2-networking/overview/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/layer2-networking/overview/
  name: Ports
- description: "Project Management. Check out the product docs to learn more about\
    \ [Projects](https://metal.equinix.com/developers/docs/accounts/projects/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/
  name: Projects
- description: |
    Self Service Reservations
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/reserved/
  name: SelfServiceReservations
- description: "Spot Market Pricing and Requests Management. Check out the product\
    \ docs to learn more about [Spot Market features](https://metal.equinix.com/developers/docs/deploy/spot-market/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/spot-market/
  name: SpotMarket
- description: |
    Manage SSH keys. See project endpoints to list and create project-level SSH keys.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/ssh-keys/
  name: SSHKeys
- description: |
    Support request
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/support/
  name: SupportRequest
- description: |
    Project Transfer Requests Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/#transferring-a-project
  name: TransferRequests
- description: "Two Factor Authentication Management. Check out the product docs to\
    \ learn more about [2FA](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/
  name: TwoFactorAuth
- description: Usage Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/billing/checking-usage/
  name: Usages
- description: |
    Userdata Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/server-metadata/user-data/
  name: Userdata
- description: |
    User Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/
  name: Users
- description: |
    User Verification Token Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/organizations/#managing-team-members
  name: UserVerificationTokens
- description: "Manage virtual networks (VLANs). See project endpoints to list and\
    \ create virtual networks. Check out the product docs to learn more about [VLANs](https://metal.equinix.com/developers/docs/networking/layer2/).\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/layer2/
  name: VLANs
- description: "Volume Management (Block Storage). Notice: Block storage support will\
    \ be deprecated soon. Please check here: https://metal.equinix.com/developers/docs/resilience-recovery/elastic-block-storage/\
    \ for more details.\n"
  externalDocs:
    url: https://metal.equinix.com/developers/docs/resilience-recovery/elastic-block-storage/
  name: Volumes
- description: "VRF Management. A VRF is a project-scoped virtual router resource\
    \ that defines a collection of customer-manager IP blocks that can be used in\
    \ BGP peering on one or more virtual networks. Metal Gateways and Interconnection\
    \ Virtual Circuits can take advantage of VRFs to enable Layer 3 routing with bespoke\
    \ network ranges. Notice: VRFs are a test feature currently under active development,\
    \ and only available to certain users. Please contact Customer Success for more\
    \ information.\n"
  name: VRFs
paths:
  /api-keys/{id}:
    delete:
      description: Deletes the API key.
      operationId: deleteAPIKey
      parameters:
      - description: API Key UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the API key
      tags:
      - Authentication
  /batches/{id}:
    delete:
      description: Deletes the Batch.
      operationId: deleteBatch
      parameters:
      - description: Batch UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Delete all instances created from this batch
        in: query
        name: remove_associated_instances
        schema:
          default: false
          type: boolean
      responses:
        "204":
          content: {}
          description: no content
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the Batch
      tags:
      - Batches
    get:
      description: Returns a Batch
      operationId: findBatchById
      parameters:
      - description: Batch UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findBatchById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a Batch
      tags:
      - Batches
  /bgp/sessions/{id}:
    delete:
      description: Deletes the BGP session.
      operationId: deleteBgpSession
      parameters:
      - description: BGP session UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the BGP session
      tags:
      - BGP
    get:
      description: Returns a BGP session
      operationId: findBgpSessionById
      parameters:
      - description: BGP session UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findBgpSessionById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a BGP session
      tags:
      - BGP
    put:
      description: Updates the BGP session by either enabling or disabling the default
        route functionality.
      operationId: updateBgpSession
      parameters:
      - description: BGP session UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
        description: Default route
        required: true
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Update the BGP session
      tags:
      - BGP
      x-codegen-request-body-name: body
  /capacity:
    get:
      description: Returns a list of facilities and plans with their current capacity.
      operationId: findCapacityForFacility
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCapacityForFacility_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: View capacity
      tags:
      - Capacity
    post:
      description: Validates if a deploy can be fulfilled.
      operationId: checkCapacityForFacility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkCapacityForFacility_request'
        description: Facility to check capacity in
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkCapacityForFacility_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Check capacity
      tags:
      - Capacity
      x-codegen-request-body-name: body
  /capacity/metros:
    get:
      description: Returns a list of metros and plans with their current capacity.
      operationId: findCapacityForMetro
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findCapacityForMetro_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: View capacity for metros
      tags:
      - Capacity
    post:
      description: Validates if a deploy can be fulfilled in a metro.
      operationId: checkCapacityForMetro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkCapacityForMetro_request'
        description: Metro to check capacity in
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkCapacityForMetro_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Check capacity for a metro
      tags:
      - Capacity
      x-codegen-request-body-name: body
  /connections/{connection_id}:
    delete:
      description: "Delete a connection, its associated ports and virtual circuits."
      operationId: deleteInterconnection
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response'
          description: accepted
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete connection
      tags:
      - Connections
    get:
      description: Get the details of a connection
      operationId: getInterconnection
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Get connection
      tags:
      - Connections
    put:
      description: Update the details of a connection
      operationId: updateInterconnection
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateInterconnection_request'
        description: Updated connection details
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Update connection
      tags:
      - Connections
      x-codegen-request-body-name: body
  /connections/{connection_id}/events:
    get:
      description: Returns a list of the connection events
      operationId: findConnectionEvents
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findConnectionEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve connection events
      tags:
      - Events
  /connections/{connection_id}/ports:
    get:
      description: List the ports associated to an connection.
      operationId: listConnectionPorts
      parameters:
      - description: UUID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listConnectionPorts_200_response'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: List a connection's ports
      tags:
      - Connections
  /connections/{connection_id}/ports/{id}:
    get:
      description: Get the details of an connection port.
      operationId: getConnectionPort
      parameters:
      - description: UUID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response_ports_inner'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Get a connection port
      tags:
      - Connections
  /connections/{connection_id}/ports/{id}/events:
    get:
      description: Returns a list of the connection port events
      operationId: findConnectionPortEvents
      parameters:
      - description: Connection UUID
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Connection Port UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findConnectionEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve connection port events
      tags:
      - Events
  /connections/{connection_id}/ports/{port_id}/virtual-circuits:
    get:
      description: List the virtual circuit record(s) associatiated with a particular
        connection port.
      operationId: listConnectionPortVirtualCircuits
      parameters:
      - description: UUID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: UUID of the connection port
        in: path
        name: port_id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response_ports_inner_virtual_circuits'
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: List a connection port's virtual circuits
      tags:
      - Connections
    post:
      description: "Create a new Virtual Circuit on a dedicated connection. To create\
        \ a regular Virtual Circuit, specify a Virtual Network record and an NNI VLAN\
        \ value. To create a VRF-based Virtual Circuit, specify the VRF ID and subnet,\
        \ along with the NNI VLAN value."
      operationId: createConnectionPortVirtualCircuit
      parameters:
      - description: UUID of the connection
        in: path
        name: connection_id
        required: true
        schema:
          format: uuid
          type: string
      - description: UUID of the connection port
        in: path
        name: port_id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: Virtual Circuit details
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                type: object
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Create a new Virtual Circuit
      tags:
      - Connections
      x-codegen-request-body-name: body
  /devices/{id}:
    delete:
      description: Deletes a device and deprovisions it in our datacenter.
      operationId: deleteDevice
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: "Force the deletion of the device, by detaching any storage volume\
          \ still active."
        in: query
        name: force_delete
        schema:
          type: boolean
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Delete the device
      tags:
      - Devices
    get:
      description: "Type-specific options (such as facility for baremetal devices)\
        \ will be included as part of the main data structure.\n                 \
        \        State value can be one of: active inactive queued or provisioning"
      operationId: findDeviceById
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a device
      tags:
      - Devices
    put:
      description: Updates the device.
      operationId: updateDevice
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDevice_request'
        description: Facility to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Update the device
      tags:
      - Devices
      x-codegen-request-body-name: body
  /devices/{id}/actions:
    post:
      description: "Performs an action for the given device.  Possible actions include:\
        \ power_on, power_off, reboot, reinstall, and rescue (reboot the device into\
        \ rescue OS.)"
      operationId: performAction
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Action to perform
        in: query
        name: type
        required: true
        schema:
          enum:
          - power_on
          - power_off
          - reboot
          - rescue
          - reinstall
          type: string
      responses:
        "202":
          content: {}
          description: accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Perform an action
      tags:
      - Devices
  /devices/{id}/bandwidth:
    get:
      description: Retrieve an instance bandwidth for a given period of time.
      operationId: findInstanceBandwidth
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Timestamp from range
        in: query
        name: from
        required: true
        schema:
          type: string
      - description: Timestamp to range
        in: query
        name: until
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve an instance bandwidth
      tags:
      - Devices
  /devices/{id}/bgp/neighbors:
    get:
      description: Provides a summary of the BGP neighbor data associated to the BGP
        sessions for this device.
      operationId: getBgpNeighborData
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getBgpNeighborData_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve BGP neighbor data for this device
      tags:
      - Devices
  /devices/{id}/bgp/sessions:
    get:
      description: Provides a listing of available BGP sessions for the device.
      operationId: findBgpSessions
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findBgpSessions_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
      summary: Retrieve all BGP sessions
      tags:
      - Devices
    post:
      description: Creates a BGP session.
      operationId: createBgpSession
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createBgpSession_request'
        description: BGP session to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findBgpSessionById_200_response'
          description: created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Create a BGP session
      tags:
      - Devices
      x-codegen-request-body-name: body
  /devices/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this instance in json format
      operationId: findDeviceCustomdata
      parameters:
      - description: Instance UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve the custom metadata of an instance
      tags:
      - Devices
  /devices/{id}/events:
    get:
      description: Returns a list of events pertaining to a specific device
      operationId: findDeviceEvents
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve device's events
      tags:
      - Events
  /devices/{id}/ips:
    get:
      description: Returns all ip assignments for a device.
      operationId: findIPAssignments
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findIPAssignments_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve all ip assignments
      tags:
      - Devices
    post:
      description: Creates an ip assignment for a device.
      operationId: createIPAssignment
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createIPAssignment_request'
        description: IPAssignment to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceById_200_response_ip_addresses_inner'
          description: created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Create an ip assignment
      tags:
      - Devices
      x-codegen-request-body-name: body
  /devices/{id}/ssh-keys:
    get:
      description: Returns a collection of the device's ssh keys.
      operationId: findDeviceSSHKeys
      parameters:
      - description: Project UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: "Search by key, label, or fingerprint"
        in: query
        name: Search string
        schema:
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceSSHKeys_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve a device's ssh keys
      tags:
      - SSHKeys
  /devices/{id}/traffic:
    get:
      description: Returns traffic for a specific device.
      operationId: findTraffic
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Traffic direction
        in: query
        name: direction
        required: true
        schema:
          enum:
          - inbound
          - outbound
          type: string
      - description: Traffic interval
        in: query
        name: interval
        schema:
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          - hour_of_day
          - day_of_week
          - day_of_month
          - month_of_year
          type: string
      - description: Traffic bucket
        in: query
        name: bucket
        schema:
          enum:
          - internal
          - external
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/findTraffic_request'
        description: Traffic timeframe
        required: true
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve device traffic
      tags:
      - Devices
      x-codegen-request-body-name: body
  /devices/{id}/usages:
    get:
      description: Returns all usages for a device.
      operationId: findDeviceUsages
      parameters:
      - description: Device UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Filter usages created after this date
        in: query
        name: "created[after]"
        schema:
          format: datetime
          type: string
      - description: Filter usages created before this date
        in: query
        name: "created[before]"
        schema:
          format: datetime
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceUsages_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve all usages for device
      tags:
      - Usages
  /devices/{instance_id}/ips/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this IP Assignment in json
        format
      operationId: findIPAssignmentCustomdata
      parameters:
      - description: Instance UUID
        in: path
        name: instance_id
        required: true
        schema:
          format: uuid
          type: string
      - description: Ip Assignment UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve the custom metadata of an IP Assignment
      tags:
      - Devices
  /emails:
    post:
      description: Add a new email address to the current user.
      operationId: createEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEmail_request'
        description: Email to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEmail_201_response'
          description: created
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Create an email
      tags:
      - Emails
      x-codegen-request-body-name: body
  /emails/{id}:
    delete:
      description: Deletes the email.
      operationId: deleteEmail
      parameters:
      - description: Email UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the email
      tags:
      - Emails
    get:
      description: Provides one of the user’s emails.
      operationId: findEmailById
      parameters:
      - description: Email UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEmail_201_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve an email
      tags:
      - Emails
    put:
      description: Updates the email.
      operationId: updateEmail
      parameters:
      - description: Email UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEmail_request'
        description: email to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createEmail_201_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Update the email
      tags:
      - Emails
      x-codegen-request-body-name: body
  /events:
    get:
      description: Returns a list of the current user’s events
      operationId: findEvents
      parameters:
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve current user's events
      tags:
      - Events
  /events/{id}:
    get:
      description: Returns a single event if the user has access
      operationId: findEventById
      parameters:
      - description: Event UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findConnectionEvents_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve an event
      tags:
      - Events
  /facilities:
    get:
      description: Provides a listing of available datacenters where you can provision
        Packet devices.
      operationId: findFacilities
      parameters:
      - description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        explode: true
        in: query
        name: include
        schema:
          items:
            enum:
            - address
            - labels
            type: string
          type: array
        style: form
      - description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        explode: true
        in: query
        name: exclude
        schema:
          default: "[\"address\"]"
          items:
            enum:
            - address
            - labels
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findFacilities_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve all facilities
      tags:
      - Facilities
  /hardware-reservations/{id}:
    get:
      description: Returns a single hardware reservation
      operationId: findHardwareReservationById
      parameters:
      - description: HardwareReservation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findDeviceById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a hardware reservation
      tags:
      - HardwareReservations
  /hardware-reservations/{id}/move:
    post:
      description: Move a hardware reservation to another project
      operationId: moveHardwareReservation
      parameters:
      - description: Hardware Reservation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              format: uuid
              type: string
        description: Project UUID
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/moveHardwareReservation_201_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Move a hardware reservation
      tags:
      - HardwareReservations
      x-codegen-request-body-name: body
  /incidents:
    get:
      description: Retrieve the number of incidents.
      operationId: findIncidents
      parameters:
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve the number of incidents
      tags:
      - Incidents
  /invitations:
    get:
      description: Returns all invitations in current user.
      operationId: findInvitations
      parameters:
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Page to return
        in: query
        name: page
        schema:
          default: 1
          format: int32
          maximum: 100000
          minimum: 1
          type: integer
      - description: Items returned per page
        in: query
        name: per_page
        schema:
          default: 10
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInvitations_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve current user invitations
      tags:
      - Users
  /invitations/{id}:
    delete:
      description: Decline an invitation.
      operationId: declineInvitation
      parameters:
      - description: Invitation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Decline an invitation
      tags:
      - Invitations
    get:
      description: Returns a single invitation. (It include the `invitable` to maintain
        backward compatibility but will be removed soon)
      operationId: findInvitationById
      parameters:
      - description: Invitation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInvitationById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: View an invitation
      tags:
      - Invitations
    put:
      description: Accept an invitation.
      operationId: acceptInvitation
      parameters:
      - description: Invitation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findInvitations_200_response_invitations_inner'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Accept an invitation
      tags:
      - Invitations
  /ips/{id}:
    delete:
      description: Note! This call can be used to un-assign an IP assignment or delete
        an IP reservation. Un-assign an IP address record. Use the assignment UUID
        you get after attaching the IP. This will remove the relationship between
        an IP and the device and will make the IP address available to be assigned
        to another device. Delete and IP reservation. Use the reservation UUID you
        get after adding the IP to the project. This will permanently delete the IP
        block reservation from the project.
      operationId: deleteIPAddress
      parameters:
      - description: IP Address UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Unassign an ip address
      tags:
      - IPAddresses
    get:
      description: Returns a single ip address if the user has access.
      operationId: findIPAddressById
      parameters:
      - description: IP Address UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve an ip address
      tags:
      - IPAddresses
    patch:
      description: Update details about an ip address
      operationId: updateIPAddress
      parameters:
      - description: IP Address UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Notes for this IP Assignment
        in: query
        name: details
        required: true
        schema:
          type: string
      - description: Provides the custom metadata stored for this IP Assignment in
          json format
        in: query
        name: customdata
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Update an ip address
      tags:
      - IPAddresses
  /ips/{id}/available:
    get:
      description: Provides a list of IP resevations for a single project.
      operationId: findIPAvailabilities
      parameters:
      - description: IP Reservation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: Size of subnets in bits
        in: query
        name: cidr
        required: true
        schema:
          enum:
          - "20"
          - "21"
          - "22"
          - "23"
          - "24"
          - "25"
          - "26"
          - "27"
          - "28"
          - "29"
          - "30"
          - "31"
          - "32"
          - "33"
          - "34"
          - "35"
          - "36"
          - "37"
          - "38"
          - "39"
          - "40"
          - "41"
          - "42"
          - "43"
          - "44"
          - "45"
          - "46"
          - "47"
          - "48"
          - "49"
          - "50"
          - "51"
          - "52"
          - "53"
          - "54"
          - "55"
          - "56"
          - "57"
          - "58"
          - "59"
          - "60"
          - "61"
          - "62"
          - "63"
          - "64"
          - "65"
          - "66"
          - "67"
          - "68"
          - "69"
          - "70"
          - "71"
          - "72"
          - "73"
          - "74"
          - "75"
          - "76"
          - "77"
          - "78"
          - "79"
          - "80"
          - "81"
          - "82"
          - "83"
          - "84"
          - "85"
          - "86"
          - "87"
          - "88"
          - "89"
          - "90"
          - "91"
          - "92"
          - "93"
          - "94"
          - "95"
          - "96"
          - "97"
          - "98"
          - "99"
          - "100"
          - "101"
          - "102"
          - "103"
          - "104"
          - "105"
          - "106"
          - "107"
          - "108"
          - "109"
          - "110"
          - "111"
          - "112"
          - "113"
          - "114"
          - "115"
          - "116"
          - "117"
          - "118"
          - "119"
          - "120"
          - "121"
          - "122"
          - "123"
          - "124"
          - "125"
          - "126"
          - "127"
          - "128"
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findIPAvailabilities_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve all available subnets of a particular reservation
      tags:
      - IPAddresses
  /ips/{id}/customdata:
    get:
      description: Provides the custom metadata stored for this IP Reservation or
        IP Assignment in json format
      operationId: findIPAddressCustomdata
      parameters:
      - description: Ip Reservation UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content: {}
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve the custom metadata of an IP Reservation or IP Assignment
      tags:
      - IPAddresses
  /licenses/{id}:
    delete:
      description: Deletes a license.
      operationId: deleteLicense
      parameters:
      - description: License UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "204":
          content: {}
          description: no content
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Delete the license
      tags:
      - Licenses
    get:
      description: Returns a license
      operationId: findLicenseById
      parameters:
      - description: License UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      - description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        explode: false
        in: query
        name: include
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        explode: false
        in: query
        name: exclude
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findLicenseById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a license
      tags:
      - Licenses
    put:
      description: Updates the license.
      operationId: updateLicense
      parameters:
      - description: License UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateLicense_request'
        description: License to update
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findLicenseById_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unprocessable entity
      summary: Update the license
      tags:
      - Licenses
      x-codegen-request-body-name: body
  /locations/metros:
    get:
      description: Provides a listing of available metros
      operationId: findMetros
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findMetros_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
      summary: Retrieve all metros
      tags:
      - Metros
  /locations/metros/{id}:
    get:
      description: "Show the details for a metro, including name, code, and country."
      operationId: getMetro
      parameters:
      - description: Metro UUID
        in: path
        name: id
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getInterconnection_200_response_metro_allOf'
          description: ok
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: not found
      summary: Retrieve a specific Metro's details
      tags:
      - Metros
  /market/spot/prices:
    get:
      description: Get Equinix Metal current spot market prices.
      operationId: findSpotMarketPrices
      parameters:
      - description: Facility to check spot market prices
        in: query
        name: facility
        schema:
          type: string
      - description: Plan to check spot market prices
        in: query
        name: plan
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/findSpotMarketPrices_200_response'
          description: ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPIKey_401_response'
          description: unauthorized
        "422":
          content:
[...]
