openapi: 3.0.0
info:
  title: Metal API
  description: |
    # Introduction
    Equinix Metal provides a RESTful HTTP API which can be reached at <https://api.equinix.com/metal/v1>. This document describes the API and how to use it.

    The API allows you to programmatically interact with all
    of your Equinix Metal resources, including devices, networks, addresses, organizations,
    projects, and your user account. Every feature of the Equinix Metal web interface is accessible through the API.

    The API docs are generated from the Equinix Metal OpenAPI specification and are officially hosted at <https://metal.equinix.com/developers/api>.

    # Common Parameters

    The Equinix Metal API uses a few methods to minimize network traffic and improve throughput. These parameters are not used in all API calls, but are used often enough to warrant their own section. Look for these parameters in the documentation for the API calls that support them.

    ## Pagination

    Pagination is used to limit the number of results returned in a single request. The API will return a maximum of 100 results per page. To retrieve additional results, you can use the `page` and `per_page` query parameters.

    The `page` parameter is used to specify the page number. The first page is `1`. The `per_page` parameter is used to specify the number of results per page. The maximum number of results differs by resource type.

    ## Sorting

    Where offered, the API allows you to sort results by a specific field. To sort results use the `sort_by` query parameter with the root level field name as the value. The `sort_direction` parameter is used to specify the sort direction, either either `asc` (ascending) or `desc` (descending).

    ## Filtering

    Filtering is used to limit the results returned in a single request. The API supports filtering by certain fields in the response. To filter results, you can use the field as a query parameter.

    For example, to filter the IP list to only return public IPv4 addresses, you can filter by the `type` field, as in the following request:

    ```sh
    curl -H 'X-Auth-Token: my_authentication_token' \
      https://api.equinix.com/metal/v1/projects/id/ips?type=public_ipv4
    ```

    Only IP addresses with the `type` field set to `public_ipv4` will be returned.

    ## Searching

    Searching is used to find matching resources using multiple field comparissons. The API supports searching in resources that define this behavior. Currently the search parameter is only available on devices, ssh_keys, api_keys and memberships endpoints.

    To search resources you can use the `search` query parameter.

    ## Include and Exclude

    For resources that contain references to other resources, sucha as a Device that refers to the Project it resides in, the Equinix Metal API will returns `href` values (API links) to the associated resource.

    ```json
    {
      ...
      "project": {
        "href": "/metal/v1/projects/f3f131c8-f302-49ef-8c44-9405022dc6dd"
      }
    }
    ```

    If you're going need the project details, you can avoid a second API request.  Specify the contained `href` resources and collections that you'd like to have included in the response using the `include` query parameter.

    For example:

    ```sh
    curl -H 'X-Auth-Token: my_authentication_token' \
      https://api.equinix.com/metal/v1/user?include=projects
    ```

    The `include` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests where `href` resources are presented.

    To have multiple resources include, use a comma-separated list (e.g. `?include=emails,projects,memberships`).

    ```sh
    curl -H 'X-Auth-Token: my_authentication_token' \
      https://api.equinix.com/metal/v1/user?include=emails,projects,memberships
    ```

    You may also include nested associations up to three levels deep using dot notation (`?include=memberships.projects`):

    ```sh
    curl -H 'X-Auth-Token: my_authentication_token' \
      https://api.equinix.com/metal/v1/user?include=memberships.projects
    ```

    To exclude resources, and optimize response delivery, use the `exclude` query parameter. The `exclude` parameter is generally accepted in `GET`, `POST`, `PUT`, and `PATCH` requests for fields with nested object responses. When excluded, these fields will be replaced with an object that contains only an `href` field.
  termsOfService: https://metal.equinix.com/legal/
  contact:
    name: Equinix Metal API Team
    email: support@equinixmetal.com
  license:
    name: Equinix Metal
    url: https://metal.equinix.com/legal/
  version: 1.0.0
servers:
- url: https://api.equinix.com/metal/v1
security:
- x_auth_token: []
tags:
- name: Authentication
  description: |
    Nearly all of the endpoints in the API require authentication. Authentication is performed by providing an authentication token (interchangeably referred to as an API key) in the `X-Auth-Token` HTTP request header.

    <!-- ReDoc-Inject: <security-definitions> -->

    User API keys can be obtained by creating them in the Equinix Metal Portal or by using the [Create a User API Key](#operation/createAPIKey) endpoint.

    Project API keys can also be obtained by creating them in the Equinix Metal Portal or by using the [Create a Project API Key](#operation/createProjectAPIKey) endpoint. Project API keys are scoped to a single project and can only be used to access resources within that project.

    For example, to use an authenticated API token, you would make a request like the following:

    ```bash
    curl -H 'X-Auth-Token: my_authentication_token' \
      https://api.equinix.com/metal/v1/user/api-keys
    ```

    Applications can take advantage of the Equinix Metal API and API keys to perform any of the actions that can be performed in the Equinix Metal Portal. For example, you can use the API to create and manage devices, projects, and other resources.

    API keys can be deleted without affecting any of the resources created with them. Access to applications using the API can be revoked by deleting the API key used to authenticate the application.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/#api-keys
- name: Errors
  description: |
    Equinix Metal uses conventional HTTP response codes to indicate the success or failure of an API request.

    In general: Codes in the 2xx range indicate success. Codes in the 4xx range indicate an error that failed given the information provided (e.g., a required parameter was omitted, a charge failed, etc.). Codes in the 5xx range indicate an error with Equinix Metal's servers (these are rare).

    | Code                               | Summary
    | ---------------------------------- | ------------------------------------------------------
    | 200 OK                             | Everything worked as expected.
    | 201 Create                         | Everything worked as expected, the resource was created.
    | 422 Bad Request                    | The request was unacceptable, often due to missing a required parameter.
    | 401 Unauthorized                   | No valid API key provided.
    | 404 Not Found                      | The requested resource doesn't exist.
    | 500, 502, 503, 504 - Server Errors | Something went wrong on Equinix Metal's end. (These are rare.)

    Errors (4xx, 5xx) reported by the API will include a JSON error response.  This response will be structured as one of the following:

    ```json
    {"error": "the error message"}
    ```

    or

    ```json
    {"errors": ["one error", "another error"}
    ```

    The JSON response is not guaranteed so check the HTTP status message. JSON may not be included if the error is reported by an API intermediary, like a loadbalancer service.
- name: Batches
  description: |
    Manage device batches. See project endpoints to list batches for a particular project. Check out the product docs to learn more about [Batch Deployment](https://metal.equinix.com/developers/docs/deploy/batch-deployment/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/batch-deployment/
- name: BGP
  description: |
    Manage BGP configs and sessions. See device endpoints to create and list BGP sessions for a particular device. Check out the product docs to learn more about [Local and Global BGP](https://metal.equinix.com/developers/docs/networking/local-global-bgp/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/bgp/bgp-on-equinix-metal/
- name: Capacity
  description: |
    Capacity Management. Check out the product docs to learn more about [Capacity](https://metal.equinix.com/developers/docs/locations/capacity/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/capacity/
- name: Interconnections
  description: |
    Network Interconnections. See Instructions to create Network Interconnections at Check out the product docs to learn more about [Equinix Fabric](https://metal.equinix.com/developers/docs/networking/fabric/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/equinix-interconnect/introduction/
- name: Devices
  description: |
    Device Management. Check out the product docs to learn more about [Server Devices](https://metal.equinix.com/developers/docs/servers/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/on-demand/
- name: Emails
  description: Email Management
- name: Events
  description: Event Management
- name: Facilities
  description: |
    Facility Management. Check out the product docs to learn more about [Facilities](https://metal.equinix.com/developers/docs/locations/).
- name: GlobalBgpRanges
  description: |
    Global BGP Range Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/bgp/global-bgp/
- name: HardwareReservations
  description: |
    Hardware Reservation Management. Check out the product docs to learn more about [Reserved Hardware](https://metal.equinix.com/developers/docs/deploy/reserved/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/reserved/
- name: Incidents
  description: |
    Incident Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/maintenance/
- name: Invitations
  description: |
    Manage invitations. See project endpoints to create a new invitation. Check out the product docs to learn more about [Invitations](https://metal.equinix.com/developers/docs/accounts/).
- name: IPAddresses
  description: |
    Manage IP addresses. See device and project endpoints to list and create IP assignments for a particular project or device. Check out the product docs to learn more about [the basic networking features](https://metal.equinix.com/developers/docs/networking/standard-ips/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/
- name: Licenses
  description: |
    Manage licenses. See project endpoints to list and create licenses for a particular project.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/operating-systems/licensed/
- name: Memberships
  description: |
    Membership Management (Project). Check out the product docs to learn more about [Membership](https://metal.equinix.com/developers/docs/accounts/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/#inviting-a-user-to-a-project
- name: Metadata
  description: |
    Device Metadata
  externalDocs:
    url: https://metal.equinix.com/developers/docs/server-metadata/metadata/
- name: MetalGateways
  description: |
    Metal Gateway Management.Check out the product docs to learn more about [Metal Gateways](https://metal.equinix.com/developers/docs/networking/metal-gateway/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/metal-gateway/
- name: Metros
  description: "Metro Management. Check out the product docs to learn more about [Metros](https://metal.equinix.com/developers/docs/locations/metros/)."
  externalDocs:
    url: https://metal.equinix.com/developers/docs/locations/metros/
- name: OperatingSystems
  description: |
    Operating System Management. Check out the product docs to learn more about [Operating Systems choices](https://metal.equinix.com/developers/docs/operating-systems/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/operating-systems/supported/
- name: Organizations
  description: "Organizations Management. Check out the product docs to learn more\
    \ about [Organizations](https://metal.equinix.com/developers/docs/accounts/)."
- name: OTPs
  description: |
    OTP Management. Check out the product docs to learn more about [OTP](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/
- name: PasswordResetTokens
  description: |
    Password Reset Token Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/#security-settings
- name: PaymentMethods
  description: |
    Payment Method Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/billing/payment-methods/
- name: Plans
  description: |
    Plan Management (Device). Check out the product docs to learn more about [Device Plans](https://metal.equinix.com/developers/docs/servers/).
- name: Ports
  description: |
    Port ManagementCheck out the product docs to learn more about [Port configurations](https://metal.equinix.com/developers/docs/layer2-networking/overview/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/layer2-networking/overview/
- name: Projects
  description: |
    Project Management. Check out the product docs to learn more about [Projects](https://metal.equinix.com/developers/docs/accounts/projects/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/
- name: SelfServiceReservations
  description: |
    Self Service Reservations
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/reserved/
- name: SpotMarket
  description: |
    Spot Market Pricing and Requests Management. Check out the product docs to learn more about [Spot Market features](https://metal.equinix.com/developers/docs/deploy/spot-market/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/deploy/spot-market/
- name: SSHKeys
  description: |
    Manage SSH keys. See project endpoints to list and create project-level SSH keys.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/ssh-keys/
- name: SupportRequest
  description: |
    Support request
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/support/
- name: TransferRequests
  description: |
    Project Transfer Requests Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/projects/#transferring-a-project
- name: TwoFactorAuth
  description: |
    Two Factor Authentication Management. Check out the product docs to learn more about [2FA](https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/two-factor-authentication/
- name: Usages
  description: Usage Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/billing/checking-usage/
- name: Userdata
  description: |
    Userdata Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/server-metadata/user-data/
- name: Users
  description: |
    User Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/users/
- name: UserVerificationTokens
  description: |
    User Verification Token Management
  externalDocs:
    url: https://metal.equinix.com/developers/docs/accounts/organizations/#managing-team-members
- name: VLANs
  description: |
    Manage virtual networks (VLANs). See project endpoints to list and create virtual networks. Check out the product docs to learn more about [VLANs](https://metal.equinix.com/developers/docs/networking/layer2/).
  externalDocs:
    url: https://metal.equinix.com/developers/docs/networking/layer2/
- name: Volumes
  description: |
    Volume Management (Block Storage). Notice: Block storage support will be deprecated soon. Please check here: https://metal.equinix.com/developers/docs/resilience-recovery/elastic-block-storage/ for more details.
  externalDocs:
    url: https://metal.equinix.com/developers/docs/resilience-recovery/elastic-block-storage/
- name: VRFs
  description: |
    VRF Management. A VRF is a project-scoped virtual router resource that defines a collection of customer-managed IP blocks that can be used in BGP peering on one or more virtual networks. Metal Gateways and Interconnection Virtual Circuits can take advantage of VRFs to enable Layer 3 routing with bespoke network ranges. Notice: VRFs are a test feature currently under active development, and only available to certain users. Please contact Customer Success for more information.
paths:
  /api-keys/{id}:
    delete:
      tags:
      - Authentication
      summary: Delete the API key
      description: Deletes the API key.
      operationId: deleteAPIKey
      parameters:
      - name: id
        in: path
        description: API Key UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /batches/{id}:
    get:
      tags:
      - Batches
      summary: Retrieve a Batch
      description: Returns a Batch
      operationId: findBatchById
      parameters:
      - name: id
        in: path
        description: Batch UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Batch'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Batches
      summary: Delete the Batch
      description: Deletes the Batch.
      operationId: deleteBatch
      parameters:
      - name: id
        in: path
        description: Batch UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: remove_associated_instances
        in: query
        description: Delete all instances created from this batch
        schema:
          type: boolean
          default: false
      responses:
        "204":
          description: no content
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /bgp/sessions/{id}:
    get:
      tags:
      - BGP
      summary: Retrieve a BGP session
      description: Returns a BGP session
      operationId: findBgpSessionById
      parameters:
      - name: id
        in: path
        description: BGP session UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSession'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - BGP
      summary: Update the BGP session
      description: Updates the BGP session by either enabling or disabling the default
        route functionality.
      operationId: updateBgpSession
      parameters:
      - name: id
        in: path
        description: BGP session UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Default route
        content:
          application/json:
            schema:
              type: boolean
        required: true
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - BGP
      summary: Delete the BGP session
      description: Deletes the BGP session.
      operationId: deleteBgpSession
      parameters:
      - name: id
        in: path
        description: BGP session UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /bgp-dynamic-neighbors/{id}:
    get:
      tags:
      - VRFs
      summary: Retrieve a BGP Dynamic Neighbor
      description: Return a single BGP Dynamic Neighbor resource
      parameters:
      - name: id
        in: path
        description: BGP Dynamic Neighbor UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpDynamicNeighbor'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - VRFs
      summary: Delete a VRF BGP Dynamic Neighbor
      description: Trigger the removal of a BGP Neighbor range from a VRF
      operationId: deleteBgpDynamicNeighborById
      parameters:
      - name: id
        in: path
        description: BGP Dynamic Neighbor UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpDynamicNeighbor'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /capacity:
    get:
      tags:
      - Capacity
      summary: View capacity
      description: Returns a list of facilities and plans with their current capacity.
      operationId: findCapacityForFacility
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityList'
              example:
                capacity:
                  am6:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  da11:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  sv15:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Capacity
      summary: Check capacity
      description: Validates if a deploy can be fulfilled.
      operationId: checkCapacityForFacility
      requestBody:
        description: Facility to check capacity in
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapacityInput'
        required: true
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCheckPerFacilityList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
  /capacity/metros:
    get:
      tags:
      - Capacity
      summary: View capacity for metros
      description: Returns a list of metros and plans with their current capacity.
      operationId: findCapacityForMetro
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityList'
              example:
                capacity:
                  am:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  da:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
                  dc:
                    c2.medium.x86:
                      level: string
                    m2.xlarge.x86:
                      level: string
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Capacity
      summary: Check capacity for a metro
      description: Validates if a deploy can be fulfilled in a metro.
      operationId: checkCapacityForMetro
      requestBody:
        description: Metro to check capacity in
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapacityInput'
        required: true
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapacityCheckPerMetroList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /connections/{connection_id}:
    get:
      tags:
      - Interconnections
      summary: Get interconnection
      description: Get the details of a interconnection
      operationId: getInterconnection
      parameters:
      - name: connection_id
        in: path
        description: Interconnection UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interconnection'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Interconnections
      summary: Update interconnection
      description: Update the details of a interconnection
      operationId: updateInterconnection
      parameters:
      - name: connection_id
        in: path
        description: Interconnection UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: Updated interconnection details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InterconnectionUpdateInput'
        required: true
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interconnection'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Interconnections
      summary: Delete interconnection
      description: "Delete a interconnection, its associated ports and virtual circuits."
      operationId: deleteInterconnection
      parameters:
      - name: connection_id
        in: path
        description: Interconnection UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "202":
          description: accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interconnection'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /connections/{connection_id}/events:
    get:
      tags:
      - Events
      summary: Retrieve interconnection events
      description: Returns a list of the interconnection events
      operationId: findInterconnectionEvents
      parameters:
      - name: connection_id
        in: path
        description: Interconnection UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Page to return
        schema:
          maximum: 100000
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Items returned per page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /connections/{connection_id}/ports:
    get:
      tags:
      - Interconnections
      summary: List a interconnection's ports
      description: List the ports associated to an interconnection.
      operationId: listInterconnectionPorts
      parameters:
      - name: connection_id
        in: path
        description: UUID of the interconnection
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterconnectionPortList'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /connections/{connection_id}/virtual-circuits:
    get:
      tags:
      - Interconnections
      summary: List a interconnection's virtual circuits
      description: List the virtual circuit record(s) associated with a particular
        interconnection id.
      operationId: listInterconnectionVirtualCircuits
      parameters:
      - name: connection_id
        in: path
        description: UUID of the interconnection
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCircuitList'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /connections/{connection_id}/ports/{id}:
    get:
      tags:
      - Interconnections
      summary: Get a interconnection port
      description: Get the details of an interconnection port.
      operationId: getInterconnectionPort
      parameters:
      - name: connection_id
        in: path
        description: UUID of the interconnection
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        description: Port UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InterconnectionPort'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /connections/{connection_id}/ports/{id}/events:
    get:
      tags:
      - Events
      summary: Retrieve interconnection port events
      description: Returns a list of the interconnection port events
      operationId: findInterconnectionPortEvents
      parameters:
      - name: connection_id
        in: path
        description: Interconnection UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        description: Interconnection Port UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Page to return
        schema:
          maximum: 100000
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Items returned per page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /connections/{connection_id}/ports/{port_id}/virtual-circuits:
    get:
      tags:
      - Interconnections
      summary: List a interconnection port's virtual circuits
      description: List the virtual circuit record(s) associatiated with a particular
        interconnection port.
      operationId: listInterconnectionPortVirtualCircuits
      parameters:
      - name: connection_id
        in: path
        description: UUID of the interconnection
        required: true
        schema:
          type: string
          format: uuid
      - name: port_id
        in: path
        description: UUID of the interconnection port
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCircuitList'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Interconnections
      summary: Create a new Virtual Circuit
      description: "Create a new Virtual Circuit on a Dedicated Port. To create a\
        \ regular Virtual Circuit, specify a Virtual Network record and an NNI VLAN\
        \ value. To create a VRF-based Virtual Circuit, specify the VRF ID and subnet,\
        \ along with the NNI VLAN value."
      operationId: createInterconnectionPortVirtualCircuit
      parameters:
      - name: connection_id
        in: path
        description: UUID of the interconnection
        required: true
        schema:
          type: string
          format: uuid
      - name: port_id
        in: path
        description: UUID of the interconnection port
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Virtual Circuit details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VirtualCircuitCreateInput'
        required: true
      responses:
        "201":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCircuit'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}:
    get:
      tags:
      - Devices
      summary: Retrieve a device
      description: |-
        Type-specific options (such as facility for baremetal devices) will be included as part of the main data structure.
                                 State value can be one of: active inactive queued or provisioning
      operationId: findDeviceById
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Devices
      summary: Update the device
      description: Updates the device.
      operationId: updateDevice
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: Facility to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateInput'
        required: true
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Devices
      summary: Delete the device
      description: Deletes a device and deprovisions it in our datacenter.
      operationId: deleteDevice
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: force_delete
        in: query
        description: "Force the deletion of the device, by detaching any storage volume\
          \ still active."
        schema:
          type: boolean
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/actions:
    post:
      tags:
      - Devices
      summary: Perform an action
      description: "Performs an action for the given device.  Possible actions include:\
        \ power_on, power_off, reboot, reinstall, and rescue (reboot the device into\
        \ rescue OS.)"
      operationId: performAction
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: Action to perform
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceActionInput'
        required: true
      responses:
        "202":
          description: accepted
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/bandwidth:
    get:
      tags:
      - Devices
      summary: Retrieve an instance bandwidth
      description: Retrieve an instance bandwidth for a given period of time.
      operationId: findInstanceBandwidth
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: from
        in: query
        description: Timestamp from range
        required: true
        schema:
          type: string
      - name: until
        in: query
        description: Timestamp to range
        required: true
        schema:
          type: string
      responses:
        "200":
          description: ok
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/bgp/neighbors:
    get:
      tags:
      - Devices
      summary: Retrieve BGP neighbor data for this device
      description: Provides a summary of the BGP neighbor data associated to the BGP
        sessions for this device.
      operationId: getBgpNeighborData
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSessionNeighbors'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/bgp/sessions:
    get:
      tags:
      - Devices
      summary: Retrieve all BGP sessions
      description: Provides a listing of available BGP sessions for the device.
      operationId: findBgpSessions
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSessionList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Devices
      summary: Create a BGP session
      description: Creates a BGP session.
      operationId: createBgpSession
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: BGP session to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BGPSessionInput'
        required: true
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BgpSession'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/customdata:
    get:
      tags:
      - Devices
      summary: Retrieve the custom metadata of an instance
      description: Provides the custom metadata stored for this instance in json format
      operationId: findDeviceCustomdata
      parameters:
      - name: id
        in: path
        description: Instance UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/events:
    get:
      tags:
      - Events
      summary: Retrieve device's events
      description: Returns a list of events pertaining to a specific device
      operationId: findDeviceEvents
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Page to return
        schema:
          maximum: 100000
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Items returned per page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/ips:
    get:
      tags:
      - Devices
      summary: Retrieve all ip assignments
      description: Returns all ip assignments for a device.
      operationId: findIPAssignments
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignmentList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Devices
      summary: Create an ip assignment
      description: Creates an ip assignment for a device.
      operationId: createIPAssignment
      parameters:
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: IPAssignment to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IPAssignmentInput'
        required: true
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAssignment'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/metadata:
    get:
      tags:
      - Devices
      summary: Retrieve metadata
      description: Retrieve device metadata
      operationId: findDeviceMetadataByID
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/ssh-keys:
    get:
      tags:
      - SSHKeys
      summary: Retrieve a device's ssh keys
      description: Returns a collection of the device's ssh keys.
      operationId: findDeviceSSHKeys
      parameters:
      - name: id
        in: path
        description: Project UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: Search string
        in: query
        description: "Search by key, label, or fingerprint"
        schema:
          type: string
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKeyList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/traffic:
    get:
      tags:
      - Devices
      summary: Retrieve device traffic
      description: Returns traffic for a specific device.
      operationId: findTraffic
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: direction
        in: query
        description: Traffic direction
        required: true
        schema:
          type: string
          enum:
          - inbound
          - outbound
      - name: interval
        in: query
        description: Traffic interval
        schema:
          type: string
          enum:
          - minute
          - hour
          - day
          - week
          - month
          - year
          - hour_of_day
          - day_of_week
          - day_of_month
          - month_of_year
      - name: bucket
        in: query
        description: Traffic bucket
        schema:
          type: string
          enum:
          - internal
          - external
      - name: timeframe
        in: query
        style: deepObject
        explode: true
        schema:
          $ref: '#/components/schemas/timeframe'
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/usages:
    get:
      tags:
      - Usages
      summary: Retrieve all usages for device
      description: Returns all usages for a device.
      operationId: findDeviceUsages
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: "created[after]"
        in: query
        description: Filter usages created after this date
        schema:
          type: string
          format: datetime
      - name: "created[before]"
        in: query
        description: Filter usages created before this date
        schema:
          type: string
          format: datetime
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceUsageList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{id}/userdata:
    get:
      tags:
      - Devices
      summary: Retrieve userdata
      description: Retrieve device userdata
      operationId: findDeviceUserdataByID
      parameters:
      - name: id
        in: path
        description: Device UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Userdata'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /devices/{instance_id}/ips/{id}/customdata:
    get:
      tags:
      - Devices
      summary: Retrieve the custom metadata of an IP Assignment
      description: Provides the custom metadata stored for this IP Assignment in json
        format
      operationId: findIPAssignmentCustomdata
      parameters:
      - name: instance_id
        in: path
        description: Instance UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        description: Ip Assignment UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /emails:
    post:
      tags:
      - Emails
      summary: Create an email
      description: Add a new email address to the current user.
      operationId: createEmail
      requestBody:
        description: Email to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmailInput'
        required: true
      responses:
        "201":
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /emails/{id}:
    get:
      tags:
      - Emails
      summary: Retrieve an email
      description: Provides one of the user’s emails.
      operationId: findEmailById
      parameters:
      - name: id
        in: path
        description: Email UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Emails
      summary: Update the email
      description: Updates the email.
      operationId: updateEmail
      parameters:
      - name: id
        in: path
        description: Email UUID
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: email to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailInput'
        required: true
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Emails
      summary: Delete the email
      description: Deletes the email.
      operationId: deleteEmail
      parameters:
      - name: id
        in: path
        description: Email UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events:
    get:
      tags:
      - Events
      summary: Retrieve current user's events
      description: Returns a list of the current user’s events
      operationId: findEvents
      parameters:
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Page to return
        schema:
          maximum: 100000
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Items returned per page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/{id}:
    get:
      tags:
      - Events
      summary: Retrieve an event
      description: Returns a single event if the user has access
      operationId: findEventById
      parameters:
      - name: id
        in: path
        description: Event UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /facilities:
    get:
      tags:
      - Facilities
      summary: Retrieve all facilities
      description: Provides a listing of available datacenters where you can provision
        Packet devices.
      operationId: findFacilities
      parameters:
      - name: include
        in: query
        description: Nested attributes to include. Included objects will return their
          full attributes. Attribute names can be dotted (up to 3 levels) to included
          deeply nested objects.
        style: form
        schema:
          type: array
          items:
            type: string
            enum:
            - address
            - labels
      - name: exclude
        in: query
        description: Nested attributes to exclude. Excluded objects will return only
          the href attribute. Attribute names can be dotted (up to 3 levels) to exclude
          deeply nested objects.
        style: form
        schema:
          type: array
          items:
            type: string
            enum:
            - address
            - labels
          default:
          - address
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      deprecated: true
  /hardware-reservations/{id}:
    get:
      tags:
      - HardwareReservations
      summary: Retrieve a hardware reservation
      description: Returns a single hardware reservation
      operationId: findHardwareReservationById
      parameters:
      - name: id
        in: path
        description: HardwareReservation UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HardwareReservation'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hardware-reservations/{id}/activate:
    post:
      tags:
      - HardwareReservations
      summary: Activate a spare hardware reservation
      description: Activate a spare hardware reservation
      operationId: activateHardwareReservation
      parameters:
      - name: id
        in: path
        description: Hardware Reservation UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: Note to attach to the reservation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/id_activate_body'
        required: false
      responses:
        "201":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HardwareReservation'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /hardware-reservations/{id}/move:
    post:
      tags:
      - HardwareReservations
      summary: Move a hardware reservation
      description: Move a hardware reservation to another project
      operationId: moveHardwareReservation
      parameters:
      - name: id
        in: path
        description: Hardware Reservation UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      requestBody:
        description: Destination Project UUID
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/id_move_body'
        required: true
      responses:
        "201":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HardwareReservation'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /incidents:
    get:
      tags:
      - Incidents
      summary: Retrieve the number of incidents
      description: Retrieve the number of incidents.
      operationId: findIncidents
      parameters:
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations:
    get:
      tags:
      - Users
      summary: Retrieve current user invitations
      description: Returns all invitations in current user.
      operationId: findInvitations
      parameters:
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: page
        in: query
        description: Page to return
        schema:
          maximum: 100000
          minimum: 1
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: Items returned per page
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
          default: 10
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationList'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invitations/{id}:
    get:
      tags:
      - Invitations
      summary: View an invitation
      description: Returns a single invitation. (It include the `invitable` to maintain
        backward compatibility but will be removed soon)
      operationId: findInvitationById
      parameters:
      - name: id
        in: path
        description: Invitation UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Invitations
      summary: Accept an invitation
      description: Accept an invitation.
      operationId: acceptInvitation
      parameters:
      - name: id
        in: path
        description: Invitation UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Invitations
      summary: Decline an invitation
      description: Decline an invitation.
      operationId: declineInvitation
      parameters:
      - name: id
        in: path
        description: Invitation UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "204":
          description: no content
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invoices/{id}:
    get:
      tags:
      - Invoices
      summary: Retrieve an invoice
      description: Returns the invoice identified by the provided id
      operationId: getInvoiceById
      parameters:
      - name: id
        in: path
        description: Invoice UUID
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        "401":
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /ips/{id}:
    get:
      tags:
      - IPAddresses
      summary: Retrieve an ip address
      description: Returns a single ip address if the user has access.
      operationId: findIPAddressById
      parameters:
      - name: id
        in: path
        description: IP Address UUID
        required: true
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        description: |-
          Nested attributes to include. Included objects will return their full
          attributes. Attribute names can be dotted (up to 3 levels) to included deeply
          nested objects.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: exclude
        in: query
        description: |-
          Nested attributes to exclude. Excluded objects will return only the href
          attribute. Attribute names can be dotted (up to 3 levels) to exclude deeply
          nested objects.
        style: form
        explode: false
        schema:
[...]
